@import "tailwindcss";

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  font-family: "Inter", sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
}

button {
  cursor: pointer;
}

input {
  outline: none;
}